[Unit]
Description=WP Packages Pipeline (discover + update + build + deploy)
OnFailure=wppackages-pipeline-notify@%n.service

[Service]
Type=oneshot
User=deploy
Group=www-data
WorkingDirectory={{ app_root }}/current
ExecStart={{ app_root }}/current/{{ go_binary_name }} pipeline --discover-source=svn --db {{ db_path }}
StandardOutput=append:{{ app_root }}/shared/storage/logs/pipeline.log
StandardError=append:{{ app_root }}/shared/storage/logs/pipeline.log
EnvironmentFile={{ app_root }}/shared/.env
